.expense-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.expense-filter-text {
  font-size: 1.8rem;
}

.expense-filter-select {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0.8rem 2rem;
  border-radius: 0.4rem;
}

.expense-filter-select:focus {
  outline: none;
}
